/**
 * Nav
 */

.nav {
    background-color: color(black, light);
    color: color(white, dark);

    &.nav-sticked {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .nav--toggle {
        @extend .reset-a;
        @include user-select(none);
        display: inline-block;
        line-height: 1;
        padding: offset() offset(1-4);
        text-transform: uppercase;

        @media #{$is-medium-large} { display: none; }
    }

    ul.nav--menu {
        @extend .clearfix;
        line-height: 1;
        list-style: none;
        margin: 0;
        padding: 0;

        @media #{$is-small} {
            @include transition(height 0.25s);
            background-color: rgba(color(gray, dark), 0.9);
            overflow: hidden;
            position: absolute;
            left: 0;
            width: 100%;
            z-index: -1;

            &.nav--menu-visisble {
                @include transition(height 0.5s);
                z-index: 1;
            }

            > li {
                &:first-child { margin-top: offset(1-2); }
                &:last-child { margin-bottom: offset(1-2); }
            }
        }

        > li {
            cursor: pointer;
            float: left;
            vertical-align: top;

            @media #{$is-small} { float: none; }

            @media #{$is-medium-large} { background-color: lighten(color(black, light), 5%); }

            &.active > * {
                background-color: color(gray, dark);

                @media #{$is-small} { background-color: rgba(color(black, light), 0.5); }
            }

            > * {
                @extend .reset-a;
                display: block;
                padding: offset() offset();

                &:hover {
                    @media #{$is-medium-large} { background-color: lighten(color(gray, dark), 5%); }
                }
            }
        }
    }

    .logo-frontstart.logo-frontstart-inline { vertical-align: top; }
}


/**
 * Nav aside
 */

.navAside {
    top: offset(4) /* Already set for JavaScript aside function */;

    &.navAside--sticked {
        position: fixed;
        width: 100%;

        @media #{$is-small} { position: static; }

        .navAside--top {
            @media #{$is-medium-large} { display: list-item !important; }
        }
    }

    .h3,
    .h4,
    .h5,
    .h6 { padding-top: 0; }

    ul.navAside--menu {
        list-style: none;
        margin: 0 0 offset(2);
        padding: 0;

        // Global
        li {
            margin-bottom: offset(1-4);

            &:last-child { margin-bottom: 0; }

            &.active > a { font-weight: bold; }

            a {
                @extend .a;
                display: block;
                overflow: hidden;
                padding-bottom: offset(1-4);
                padding-top: offset(1-4);
                text-overflow: ellipsis;
                white-space: nowrap;

                &:hover { border-color: color(gray, light); }
            }
        }

        // Child menu
        ul {
            font-size: 0.85em;
            list-style: none;
            margin: offset(1-4) 0 0 offset(1-4);
            padding: 0;
        }

        .navAside--top {
            display: none;
            margin-top: offset(2);

            a { border: none; }
        }
    }
}

[data-nav-aside-section] {
    overflow: hidden /* Needed for JavaScript aside function for exact section height */;
}